@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register" asp-controller="Account" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" name="fullName" id="name" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="DOB">Date of Birth</label>
        <input type="date" name="dateOfBirth" id="DOB" class="form-control" />
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="user" value="User">
        <label class="form-check-label" for="user">
            User
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="publisher" value="Publisher">
        <label class="form-check-label" for="publisher">
            Publisher
        </label>
    </div>


    <button type="submit" class="btn btn-primary mt-3">Register</button>
</form>