@using GameStore.DAL.Entities
@using GameStore.DAL.Enums
@model IEnumerable<User>

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.ID</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
               
            </tr>
        }
    </tbody>
</table>